* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.bar{
	
	background-color:#eee;
	height:5%;
	width:100%;
}
p{

	font-family: 'Slabo 27px', serif;
	font-size:22px;
}

@media only screen and (max-width:500px){
h1{
	font-size:20px;
}
p{
	font-size:15px;
}
a{
	width:70px;
}
}

