//* Menu container */
.menu	{
	width:300px;
	height:175px;
	border:solid #FF9900 1px;
	padding:10px 5px 10px 5px;
	margin:12px 12px 12px 50px;
	}

/* Menu styles */
.menu ul
	{
	margin:0px;
	padding:0px;
	}
.menu li
	{
	margin:0px 0px 0px 5px;
	padding:0px;
	list-style-type:none;
	text-align:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	font-weight:bolder;
	}

/* Submenu styles */
.menu ul ul 
	{/*  background-color:#F6F6F6; */ }
.menu li li
	{ margin:0px 0px 0px 16px; }

/* Symbol styles */
.menu .symbol-item,
.menu .symbol-open,
.menu .symbol-close
	{
	float:left;
	width:16px;
	height:1em;
	background-position:left center;
	background-repeat:no-repeat;
	}
.menu .symbol-item  { background-image:url(../icons/page.png); 
margin-top: 9px;

margin-right: 15px;}
.menu .symbol-open  { background-image:url(../icons/minus-folder-open.png); 
margin-top: 9px;
margin-right: 15px;}
.menu .symbol-close { background-image:url(../icons/plus-folder-closed.png);
margin-right: 12px;
margin-top: 9px;}
span.symbol-item {
margin-left: 13px;
display: none;
}
a {
text-align: -webkit-right;
margin-left: 18px;
text-decoration: none;
color: white;
}

/* Menu line styles */
.menu li.open  { font-weight:bold; }
.menu li.close { font-weight:normal; }
.menu li.open {
font-weight: bold;
width: 193px;
}