h3 {
font-size: 206%;
color: rgb(8, 66, 133);
margin-top: 1%;
}
div#startppp {
width: 17%;
color: rgb(8, 66, 133);
}
div#trialdiv{
background-color: rgb(54, 132, 220);
padding: 1%;
width: 14%;
height: 1%;
}
input#startappbutton {
      background-color: rgb(54, 132, 220);
    color: rgb(249, 247, 245);
     padding: 10px;
    width: 121px;
}
#stopappbutton {
 background-color: rgb(54, 132, 220);
    color: rgb(249, 247, 245);
    font-size: 87%;
    padding: 10%;
    width: 256px;
}
#IncreaseImageSize {
    background-color: rgb(54, 132, 220);
    color: rgb(249, 247, 245);
    padding: 10%;
    width: 61%;
}
h4 {
     background-color: rgb(54, 132, 220);
    border-radius: 5px;
    color: rgb(249, 247, 245);
    font-family: 'Freight Sans Bold','lucida grande',tahoma,verdana,arial,sans-serif !important;
    font-size: 22px;
    font-weight: normal;
    margin-left: 0;
    margin-top: 0;
    padding: 1%;
    width: 9%;
}

element.style {
}
body {

margin-left: 6%;
}
html {

}
element.style {
}
div#trialnextattempttext {
width: 154%;
padding: 14%;
font-size: 106%;
background-color: rgb(13, 127, 194);
margin-left: -38%;
color: rgb(242, 239, 235);
}
user agent stylesheetdiv {
display: block;
}
Inherited from div#startppp
div#startppp {
width: 121%;
padding: 16%;
margin-top: -86%;
margin-left: -10%;
font-weight: 900;
font-weight: 100;
color: rgb(249, 247, 245);
}
