h3 {
font-size: 206%;
color: rgb(8, 66, 133);
}
div#startppp {
width: 17%;
margin-left: 42%;
margin-top: 8%;
color: rgb(8, 66, 133);
}
input#startappbutton {
background-color: rgb(54, 132, 220);
    color: rgb(249, 247, 245);
    height: 10%;
    padding: 8%;
    width: 100%;
	margin-top: 24%;
}
div#dynscore {
  margin-left: 3%;
    padding: 2%;
}
h2 {
background-color: rgb(54, 132, 220);
    color: rgb(249, 247, 245);
    margin-left: 23%;
    margin-top: 6%;
    padding: 1%;
    text-align: center;
    width: 21%;
}
input#IncreaseImageSize {
 background-color: rgb(54, 132, 220);
    color: rgb(249, 247, 245);
    margin-left: 20%;
    padding: 2%;
    width: 18%;
}
input#stopappbutton {
  background-color: rgb(54, 132, 220);
    color: rgb(249, 247, 245);
    float: left;
    margin-left: -117%;
    margin-right: -32%;
    margin-top: 0;
    padding: 12%;
    width: 105%;
}
element.style {
}
body {

margin-left: 6%;
}
html {

}
element.style {
}
div#trialnextattempttext {
background-color: rgb(13, 127, 194);
    color: rgb(242, 239, 235);
    font-size: 106%;
    margin-left: 36%;
    padding: 2%;
    width: 24%;
}
div#s_timer {
background-color: rgb(13, 127, 194);
    color: rgb(242, 239, 235);
    font-size: 106%;
    padding: 1%;
    width: 4%;
	text-align:center;
}
div#text{
    font-size: 106%;
    margin-left: 36%;
    padding: 2%;
    width: 24%;
}
div#text_success{
    font-size: 106%;
    margin-left: 3%;
    padding: 2%;
     text-align: justify;
	 width:80%
}
user agent stylesheetdiv {
display: block;
}
Inherited from div#startppp
div#startppp {
width: 121%;
padding: 16%;
margin-top: -86%;
margin-left: -10%;
font-weight: 900;
font-weight: 100;
color: rgb(249, 247, 245);
}
