.ourcontainer h1 {
font-family: cursive;
color: #15C;
display: block;
font-size: 2em;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
height: 90px;
margin-bottom: 0px;
margin-left: -8px;
background-color: white;
margin-top: -4px;
margin-left: -14px;
padding-left: 6px;
padding-top: 26px;
width: 1007px;
}
input[type="radio"] {
width: 12px;
}
div#top {
width: 469px;
margin-left: 80px;
margin-top: -54px;
}



div.containerrightmenu {
height: 585px;
margin-left: -6PX;
}
.containerrightmenu input{
padding: 5px;
width: 34em;
border: 1px solid #BCC4D3;
box-shadow: 0 1px 10px #CFC2C2 inset;

border-bottom-style: hidden;
/* border-bottom-right-radius: 20px; */
/* border-bottom-left-radius: 20px; */
}
input[type="radio"] {
margin-left: 26PX;
width: 13px;
}

a {
    color: black;
   
}
input[type=submit] {
margin-left: 234px;
box-shadow: 0 15px 35px #E76127 inset;
width: 57px;}
.containerrightmenu  Submit{
width: 57px;
}
.containerrightmenu radio{
padding: 5px;
width: 10em;
border: 1px solid #BCC4D3;
box-shadow: 0 1px 10px #CFC2C2 inset;

border-bottom-style: hidden;
/* border-bottom-right-radius: 20px; */
/* border-bottom-left-radius: 20px; */
}label {
line-height: 37PX;
font-weight: bolder;
}label {
line-height: 37PX;
font-weight: bolder;
}
div.containerrightmenu {
height: 32em;
margin-left: -6PX;
}

.containerrightmenu input{
padding: 5px;
width: 34em;
border: 1px solid #BCC4D3;
box-shadow: 0 1px 10px #CFC2C2 inset;

border-bottom-style: hidden;
/* border-bottom-right-radius: 20px; */
/* border-bottom-left-radius: 20px; */
}
th{
	font-family: 'Freight Sans Bold','lucida grande',tahoma,verdana,arial,sans-serif !important;
    font-size: 14px;
    font-weight: bolder;
}
td{
	font-weight: bolder;
font-family: 'Freight Sans Bold','lucida grande',tahoma,verdana,arial,sans-serif !important;
/* border-bottom-right-radius: 20px; */
/* border-bottom-left-radius: 20px; */
font-size: 14px;
    font-weight: 500;
    line-height: 33px;
}

input[type=submit] {

background-color: rgb(54, 132, 220);
    box-shadow: 0 15px 35px #5f534e inset;
    font-family: 'Quando',sans-serif;
    height: 51px;
    margin: 3px;
    width: 135px;
	   color: white;
}
#search_button{
background-color: rgb(54, 132, 220);
 
  color: white;
}
input[type="button"] {
width: 93px;
}
table select{
width: 100%;
}
select#totaltime {
padding: 5px;
width: 10em;
border: 1px solid #BCC4D3;
box-shadow: 0 1px 10px #CFC2C2 inset;

border-bottom-style: hidden;
/* border-bottom-right-radius: 20px; */
/* border-bottom-left-radius: 20px; */
}
input[type="radio"] {
margin-left: 26PX;
width: 13px;
}
.containerleftmenu{
height: 584px;	
/* background-color: #f5f5f5; */
margin-left: -5px;
float:left;
width:20%;
padding: 20px;
background-color: rgb(232, 145, 23);
border-right: 1px dotted #D1D8E4;

}
.containerleftmenu {
height: 756px;
/* background-color: #f5f5f5; */
margin-left: -5px;
float: left;
width: 20%;
padding: 20px;
background-color: rgb(168, 162, 154);
border-right: 1px dotted #D1D8E4;
line-height: 31px;
}
html {
background-color: rgb(249, 247, 247);
}

li.close {
color: white;
font-family:Arial,Helvetica,sans-serif;
}



.bottomcontainer{

}
.containerleftmenu{
background-color: rgb(54, 132, 220);
/* background-color: #f5f5f5; */
margin-left:-21px;
float:left;
width:20%;
padding: 20px;

border-right: 1px dotted #D1D8E4;
height: 32em;
}
.containerleftmenu a{
color:white;
}
.containerrightmenu{

float:left;
width:68%;
padding: 20px;
background-image: -moz-linear-gradient(top, #F7F7F7, whiteSmoke);
background-image: -o-linear-gradient(top, #F7F7F7, whiteSmoke);
background-image: -webkit-linear-gradient(top, #F7F7F7, whitesmoke);
height : 500px;

}
.containerleftmenu ul{
/* background-color: #f5f5f5; */

	padding:0px;

}

@media screen and (min-width: 320px) and (max-width: 420px) {
	.ourcontainer {
width: 1px;
}
.ourcontainer h1 {
font-family: cursive;
color: #15C;
display: block;
font-size: 19px;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
height: 90px;
margin-bottom: 0px;
margin-left: -8px;
background-color: white;
margin-top: -4px;
margin-left: -14px;
padding-left: 6px;
padding-top: 26px;
width: 303px;
height: 52px;
}.ourco
.containerrightmenu input {
padding: 5px;
width: 19em;
border: 1px solid #BCC4D3;
box-shadow: 0 1px 10px #CFC2C2 inset;
border-bottom-style: hidden;
/* border-bottom-right-radius: 20px; */
/* border-bottom-left-radius: 20px; */
margin-top: 87px;
margin-left: -120px;
}
.containerleftmenu {
/* background-color: #f5f5f5; */
margin-left: -21px;
float: left;
width: 20%;
padding: 20px;
border-right: 1px dotted #D1D8E4;
width: 115px;
}
div.containerleftmenu {
width: 177px;
}
input[type="radio"] {
width: 13px;
margin-left: 11px;
}
input#SubmitQuestionPaper {
width: 123px;
margin-left: 116px;
}

	

}
@media screen and (min-width: 320px) and (max-width: 760px) {
		.ourcontainer {
width: 738px;
}
.ourcontainer h1 {
font-family: cursive;
color: #15C;
display: block;
font-size: 19px;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
height: 90px;
margin-bottom: 0px;
margin-left: -8px;
background-color: white;
margin-top: -4px;
margin-left: -14px;
padding-left: 6px;
padding-top: 26px;
width: 303px;
height: 52px;
}
.ontainerrightmenu {
/* float: left; */
width: 47%;
padding: 20px;

}




/* Tablet Portrait (768px) */
@media only screen and (min-width: 321px) and (max-width: 1024px) and (orientation: portrait) {
	.ourcontainer {
width: 1px;
}
.ourcontainer h1 {
font-family: cursive;
color: #15C;
display: block;
font-size: 19px;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
height: 90px;
margin-bottom: 0px;
margin-left: -8px;
background-color: white;
margin-top: -4px;
margin-left: -14px;
padding-left: 6px;
padding-top: 26px;
width: 303px;
height: 52px;
}
.containerrightmenu input {
padding: 5px;
width: 19em;
border: 1px solid #BCC4D3;
box-shadow: 0 1px 10px #CFC2C2 inset;
border-bottom-style: hidden;
/* border-bottom-right-radius: 20px; */
/* border-bottom-left-radius: 20px; */
margin-top: 87px;
margin-left: -120px;
}
.containerleftmenu {
/* background-color: #f5f5f5; */
margin-left: -21px;
float: left;
width: 20%;
padding: 20px;
border-right: 1px dotted #D1D8E4;
width: 115px;
}
div.containerleftmenu {
width: 177px;
}
input[type="radio"] {
width: 13px;
margin-left: 11px;
}
input#SubmitQuestionPaper {
width: 123px;
margin-left: 116px;
}

}

/* Phone Landscape (480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
		.ourcontainer {
width: 1px;
}
.ourcontainer h1 {
font-family: cursive;
color: #15C;
display: block;
font-size: 19px;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
height: 90px;
margin-bottom: 0px;
margin-left: -8px;
background-color: white;
margin-top: -4px;
margin-left: -14px;
padding-left: 6px;
padding-top: 26px;
width: 303px;
height: 52px;
}
.containerrightmenu input {
padding: 5px;
width: 19em;
border: 1px solid #BCC4D3;
box-shadow: 0 1px 10px #CFC2C2 inset;
border-bottom-style: hidden;
/* border-bottom-right-radius: 20px; */
/* border-bottom-left-radius: 20px; */
margin-top: 87px;
margin-left: -120px;
}
.containerleftmenu {
/* background-color: #f5f5f5; */
margin-left: -21px;
float: left;
width: 20%;
padding: 20px;
border-right: 1px dotted #D1D8E4;
width: 115px;
}
div.containerleftmenu {
width: 177px;
}
input[type="radio"] {
width: 13px;
margin-left: 11px;
}
input#SubmitQuestionPaper {
width: 123px;
margin-left: 116px;
}

}

/* Phone Portrait (320px) */
@media only screen and (max-width: 320px) {
		.ourcontainer {
width: 1px;
}
.containerrightmenu input {
padding: 5px;
width: 19em;
border: 1px solid #BCC4D3;
box-shadow: 0 1px 10px #CFC2C2 inset;
border-bottom-style: hidden;
/* border-bottom-right-radius: 20px; */
/* border-bottom-left-radius: 20px; */
margin-top: 87px;
margin-left: -120px;
}
.containerleftmenu {
/* background-color: #f5f5f5; */
margin-left: -21px;
float: left;
width: 20%;
padding: 20px;
border-right: 1px dotted #D1D8E4;
width: 115px;
}
div.containerleftmenu {
width: 177px;
}
table{
pading:3px;
}

input[type="radio"] {
width: 13px;
margin-left: 11px;
}
input#SubmitQuestionPaper {
width: 123px;
margin-left: 116px;
}

